@charset "utf-8";
/* common.css 공통영역 (헤더, 푸터) */

/* 모바일 320px */
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #121212;
}
img, input, button{
    vertical-align: top;
}
input, button{
    padding: 0;
}
a{
    text-decoration: none;
}
/* 안보이게 만들기 */
.hide{
    position: fixed;
    top: -99999px;
    left: -99999px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
/* clearFix */
.cf::after{
    content: "";
    display: block;
    clear: both;
}
#wrap{
    position: relative;
    width: 100%;
    /* min-width:  */
}



/* 테블릿 시작 */
@media screen and(min-width:768px){
    
}/* 테블릿 끝 */

/* pc 시작 */
@media screen and(min-width:1440px){
    
}/* pc 끝 */

