@charset "utf-8";
/* inquiry.css */
/* 모바일 */
h1.sub_title{
    display: none;
}
h1.title{
    background-color: #F8F9FA;
    font-size: 16px;
    font-weight: 600;
    line-height: 52px;
    padding-left: 20px;
    color: #191919
}
.inquiry_business{
    padding-bottom: 60px;
}
.inquiry_business li{
    padding: 20px;
    background-color: #fff;
    margin-bottom: 3px;
    border-bottom: 2px solid #F8F9FA;
}
.inquiry_business li:last-child{
    border-bottom: none;
}
.inquiry_business li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inquiry_business li a:hover .icon::after{
    background-image: url(../img/main/ico_recruit.on.png);
}
.inquiry_business .img{
    width: 33.33%;
}
.inquiry_business .img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.inquiry_business .name{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
    color: #191919;
}
.inquiry_business .icon{
    position: relative;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    text-align: right;
    padding-right: 20px;
}
.inquiry_business .icon::after{
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/main/ico_recruit.png);
    background-position: center;
    background-size: 100% auto;
}
/* 모바일 끝 */

/* 테블릿 시작 */
@media screen and (min-width:768px){
    h1.title{
        padding-top: 50px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 18px;
        line-height: 0;
        background-color: transparent;
        color: #FFB500
    }
    h1.sub_title{
        display: block;
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 50px;
    }
    .inquiry_business ul{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .inquiry_business li{
        width: 45%;
        box-sizing: border-box;
    }
    .inquiry_business .name{
        font-size: 20px;
    }
}/* 테블릿 끝*/

/* pc 시작 */
@media screen and (min-width:1920px){
    #container .inner{
        width: 1100px;
        margin: 0 auto;
    }
    h1.title{
        font-size: 20px;
    }
    h1.sub_title{
        font-size: 36px;
        background-image: url(../img/sub/readyLion.gif);
        background-size: 120px auto;
        background-repeat: no-repeat;
        background-position: right 200px center;
    }
    .inquiry_business li{
        width: 25%;
        box-sizing: border-box;
        border-bottom: none;
        margin-bottom: 50px;
    }
    .inquiry_business li a{
        display: block;
    }
    .inquiry_business .img{
        width: 220px;
        height: 220px;
        margin-bottom: 30px;
    }
    .inquiry_business .name{
        margin-bottom: 15px;
    }
    .inquiry_business .icon{
        font-size: 15px;
        text-align: left;
    }
    .inquiry_business .icon::after{
        right: auto;
        left: 63px;
        width: 22px;
        height: 22px;
    }
    
}/* PC 끝 */