@charset "utf-8";
/* main.css 메인 */

/* 모바일 - 본문1(슬라이드) */
.main1{
    position: relative;
    margin-top: -60px;
}
.m1_slide .bann_mo{
    width: 100%;
    height: auto;
}
.m1_slide .bann_pc{
    display: none;
}
/* 슬라이드 텍스트 */
.m1_text{
    position: absolute;
    left: 0;
    top: 30%;
    padding: 0 20px;
    color: #fff;
}
.m1_txt_box{
    display: none;
    opacity: 0;
    margin-top: 50px;
}
.m1_txt_box h1{
    padding-right: 25px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}
.m1_txt_box h1.pc{
    display: none;
}
.m1_txt_box div a{
    display: inline-block;
    padding: 11px 26px;
    margin-top: 17px;
    border: 2px solid #fff;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}
/* 슬라이드 버튼 */
.m1_btn{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.m1_prev, .m1_next, .m1_pause{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}
.m1_prev{
    margin-right: 18px;
    background-image: url(../img/main/ico_prev.png);
}
.m1_next{
    background-image: url(../img/main/ico_next.png);
}
.m1_play{
    display: none;
    width: 0px;
    height: 0px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 13px;
    border-left: 7px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.m1_pause{
    background-image: url(../img/main/ico_pause.png);
    background-size: 8px auto;
}
.ms_pager{
    margin-right: 10px;
    margin-top: 5px;
    color: #fff;
}
.ms_pager li{
    display: none;
}
.ms_pager .slick-active{
    display: block;
}
/* 모바일 - 본문2 */
.main2{
    background-image: url(../img/main/info_bg.png);
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: top -20% right -80%;
}
.main2 .inner{
    margin: 0 20px;
}
.main2 .m2_title{
    width: 205px;
    padding-top: 40px;
    margin-bottom: 20px;
}
.main2 .m2_title img{
    width: 100%;
    height: auto;
}
.main2 .m2_title img.ta{
    display: none;
}
.main2 .m2_content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main2 .m2_box{
    width: 47%;
    margin-bottom: 60px;
}
.main2 .m2_box h6{
    padding: 6px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.main2 .m2_box p{
    margin: 0 10px;
    font-size: 13px;
    color: #666;
}
/* 모바일 - 본문3 */
.main3{
    padding-top: 60px;
}
.main3 .box{
    margin-bottom: 60px;
}
.main3 .title{
    padding: 0 20px;
}
.main3 h2{
    font-size: 16px;
    font-weight: 500;
    color: #FFB500;
}
.main3 .text{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #060B11;
}
.main3 .text u{
    box-shadow: rgb(255, 235, 0) 0px -14px 0px inset;
    text-decoration: none;
}
.main3 .btn_more{
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
    text-indent: -99999px;
}
.main3 .btn_more a{
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(../img/main/btn_more.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
.main3 .btn_more a:hover{
    background-image: url(../img/main/btn_more_on.png);
}
/* 테블릿 시작 */
@media screen and (min-width:768px) {
    /* 테블릿 - 본문1(슬라이드) */
    .main1{
        margin-top: -73px;
    }
    .m1_txt_box h1{
        font-size: 42px;
    }
    .m1_txt_box div a{
        margin-top: 32px;
        padding: 14px 36px;
        font-size: 15px;
    }
    /* 테블릿 - 본문2 */
    .main2 .inner{
        margin: 0 40px;
    }
    .main2 .m2_title{
        width: 440px;
        padding-top: 80px;
    }
    .main2 .m2_title img.ta{
        display: block;
    }
    .main2 .m2_title img.mo{
        display: none;
    }
    .main2 .m2_content{
        display: flex;
        justify-content: space-between;
    }
    .main2 .m2_box{
        width: 20%;
        margin-bottom: 60px;
    }
    .main2 .m2_box h6{
        padding: 12px;
        font-size: 21px;
    }
    .main2 .m2_box p{
        font-size: 17px;
    }
    /* 테블릿 - 본문3 */
    .main3 .inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .main3 .box{
        width: 50%;
    }
}/* 테블릿 끝 */

/* pc 시작 */
@media screen and (min-width:1920px) {
    /* PC - 본문1(슬라이드) */
    .m1_slide .bann_mo{
        display: none;
    }
    .m1_slide .bann_pc{
        display: block;
    }
    .m1_slide .bann_pc{
        width: 100%;
        height: auto;
    }
    .m1_text{
        padding: 0 420px;
    }
    .m1_txt_box h1{
        display: none;
    }
    .m1_txt_box h1.pc{
        font-size: 60px;
        display: block;
    }
    .m1_txt_box div a{
        margin-top: 53px;
        padding: 16px 40px;
        font-size: 16px;
    }
    /* 테블릿 - 본문2 */
    .main2 .inner{
        margin: 0 auto;
        width: 1440px;
    }
    .main2 .m2_title{
        width: 570px;
        padding-top: 100px;
    }
    .main2 .m2_content{
        justify-content: left;
    }
    .main2 .m2_box{
        width: 10%;
        margin-right: 50px;
    }
    /* 테블릿 - 본문3 */
    .main3 .inner{
        width: 1440px;
        margin: 0 auto;
    }
    .main3 .box{
        width: 33.33%;
    }
}/* pc 끝 */